{% extends "users/layout.html" %}
{% block content %}
<h2>All Offers</h2>
<div class="products">
    {% if products %}
        {% for product in products %}
        <div class="product">
            <div class="card-img"><img src="{{ product.media_files_set.first.path.url }}" alt=""></div>
            <hr class="dropdown-divider">
            <h3><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h3>
            <p>Price: ${{ product.price }}</p>
            <p>City: {{ product.city }}</p>
            <p>Sales: {{ product.sales }}</p>
            <form method="POST" action="{% url 'buy_product' product.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" {% if product.quantity == 0 %}disabled{% endif %}>Buy</button>
            </form>
        </div>
        {% endfor %}
    {% else %}
        <p>No products found.</p>
    {% endif %}
</div>
{% endblock %}
